body{
    background-color: aquamarine;
}

input{
    padding: 30px;
    font-size: 20px;
}

button{
    padding: 30px;
    font-size: 20px;
    background-color: blueviolet;
    font-weight: bold;
    color: azure;
}